<fieldset>
	<legend align = "center"><h2>New Book</h2></legend>
	<%=render 'form', book: @book%>
	<p align="center"><%= link_to "Back", books_path %></p>
	<p align="center"><%= link_to "Home", root_path %></p>
</fieldset>
